<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href="/stylesheets/login.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
</head>

<body>


<div id="pozadina" >
    <svg id="visual" viewBox="0 0 100 400" width="100%" height="100%" preserveAspectRatio="xMinYMin meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><rect x="0" y="0" width="900" height="600" fill="#094637"></rect><defs><linearGradient id="grad1_0" x1="33.3%" y1="0%" x2="100%" y2="100%"><stop offset="20%" stop-color="#00ac96" stop-opacity="1"></stop><stop offset="80%" stop-color="#00ac96" stop-opacity="1"></stop></linearGradient></defs><defs><linearGradient id="grad1_1" x1="33.3%" y1="0%" x2="100%" y2="100%"><stop offset="20%" stop-color="#00ac96" stop-opacity="1"></stop><stop offset="80%" stop-color="#0d8874" stop-opacity="1"></stop></linearGradient></defs><defs><linearGradient id="grad1_2" x1="33.3%" y1="0%" x2="100%" y2="100%"><stop offset="20%" stop-color="#0d6654" stop-opacity="1"></stop><stop offset="80%" stop-color="#0d8874" stop-opacity="1"></stop></linearGradient></defs><defs><linearGradient id="grad1_3" x1="33.3%" y1="0%" x2="100%" y2="100%"><stop offset="20%" stop-color="#0d6654" stop-opacity="1"></stop><stop offset="80%" stop-color="#094637" stop-opacity="1"></stop></linearGradient></defs><defs><linearGradient id="grad2_0" x1="0%" y1="0%" x2="66.7%" y2="100%"><stop offset="20%" stop-color="#00ac96" stop-opacity="1"></stop><stop offset="80%" stop-color="#00ac96" stop-opacity="1"></stop></linearGradient></defs><defs><linearGradient id="grad2_1" x1="0%" y1="0%" x2="66.7%" y2="100%"><stop offset="20%" stop-color="#0d8874" stop-opacity="1"></stop><stop offset="80%" stop-color="#00ac96" stop-opacity="1"></stop></linearGradient></defs><defs><linearGradient id="grad2_2" x1="0%" y1="0%" x2="66.7%" y2="100%"><stop offset="20%" stop-color="#0d8874" stop-opacity="1"></stop><stop offset="80%" stop-color="#0d6654" stop-opacity="1"></stop></linearGradient></defs><defs><linearGradient id="grad2_3" x1="0%" y1="0%" x2="66.7%" y2="100%"><stop offset="20%" stop-color="#094637" stop-opacity="1"></stop><stop offset="80%" stop-color="#0d6654" stop-opacity="1"></stop></linearGradient></defs><g transform="translate(900, 0)"><path d="M0 405.6C-39.9 392.9 -79.7 380.2 -119.6 368.1C-159.4 355.9 -199.3 344.4 -235.1 323.6C-271 302.8 -302.8 272.8 -328.2 238.4C-353.5 204 -372.4 165.3 -384.2 124.8C-396.1 84.4 -400.8 42.2 -405.6 0L0 0Z" fill="#0c5645"></path><path d="M0 304.2C-29.9 294.7 -59.8 285.1 -89.7 276C-119.6 266.9 -149.5 258.3 -176.3 242.7C-203.2 227.1 -227.1 204.6 -246.1 178.8C-265.1 153 -279.3 124 -288.2 93.6C-297 63.3 -300.6 31.6 -304.2 0L0 0Z" fill="#0e7763"></path><path d="M0 202.8C-19.9 196.5 -39.9 190.1 -59.8 184C-79.7 178 -99.6 172.2 -117.6 161.8C-135.5 151.4 -151.4 136.4 -164.1 119.2C-176.8 102 -186.2 82.7 -192.1 62.4C-198 42.2 -200.4 21.1 -202.8 0L0 0Z" fill="#089a84"></path><path d="M0 101.4C-10 98.2 -19.9 95 -29.9 92C-39.9 89 -49.8 86.1 -58.8 80.9C-67.7 75.7 -75.7 68.2 -82 59.6C-88.4 51 -93.1 41.3 -96.1 31.2C-99 21.1 -100.2 10.5 -101.4 0L0 0Z" fill="#00ac96"></path></g><g transform="translate(0, 600)"><path d="M0 -405.6C40.9 -396.8 81.8 -388 122.4 -376.6C163 -365.2 203.3 -351.2 238.4 -328.2C273.6 -305.1 303.6 -273 326.8 -237.5C350.1 -202 366.5 -163.1 378.5 -123C390.5 -82.9 398.1 -41.4 405.6 0L0 0Z" fill="#0c5645"></path><path d="M0 -304.2C30.7 -297.6 61.3 -291 91.8 -282.5C122.2 -273.9 152.4 -263.4 178.8 -246.1C205.2 -228.8 227.7 -204.7 245.1 -178.1C262.6 -151.5 274.9 -122.3 283.9 -92.2C292.9 -62.1 298.6 -31.1 304.2 0L0 0Z" fill="#0e7763"></path><path d="M0 -202.8C20.4 -198.4 40.9 -194 61.2 -188.3C81.5 -182.6 101.6 -175.6 119.2 -164.1C136.8 -152.5 151.8 -136.5 163.4 -118.7C175 -101 183.3 -81.6 189.3 -61.5C195.3 -41.4 199 -20.7 202.8 0L0 0Z" fill="#089a84"></path><path d="M0 -101.4C10.2 -99.2 20.4 -97 30.6 -94.2C40.7 -91.3 50.8 -87.8 59.6 -82C68.4 -76.3 75.9 -68.2 81.7 -59.4C87.5 -50.5 91.6 -40.8 94.6 -30.7C97.6 -20.7 99.5 -10.4 101.4 0L0 0Z" fill="#00ac96"></path></g></svg>
    <div class="custom-shape-divider-top-1643323154">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
        </svg>
    </div>
<div class="container"  id="login" >

    <div class="row animate__animated animate__bounceInLeft  sporedni">
        <div id="naslov">
            <h1 >WEBSHOP</h1>
            <h2 class="animate__animated animate__rubberBand animate__delay-1s">DOBRODOŠLI</h2>
        </div>

    </div>
    <div class="row content justify-content-center text-center forma">

        <div class="col-md-6 ">
            <h2><%=message%></h2>
            <div class="col-md-6 justify-content-center text-center">
                <% for (let i = 0; i < greske.length; i++) {%>
                <div class="alert alert-warning" role="alert">
                    <%=greske[i].msg%>
                </div>
                <%}%>
            </div>
            <form action="/home/login" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control opacity-25" >
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control">
                </div>
               <button class="btn btn-class"><h2>LOGIN</h2></button>
            </form>
            <h3 id="nemasprofil">Nemaš profil? <a style="color: #F05454" href="/home/register">REGISTRUJ SE</a> </h3>
        </div>

    </div>

</div>

</div>

</body>
</html>
