<head>
    <link rel='stylesheet' href='/stylesheets/searchbar.css'>

</head>
<body>

<form action="/pretraga" method="GET">

    <div class="searchbar row height d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="form" id="searchform">
                <input  type="text" required name="unos" id="searchinput" class=" form-input"
                       placeholder="Pretražite bilo šta"> <span class="left-pan"></span>
            </div>

        </div>
        <div class="col-sm-1">  <button id="pretrazi" type="submit"><i class="fa fa-search"></i></button>
        </div>
</form>
</body>